// -----------------------------------------------------------------------------
//  Solid Colors from "Name that Color"
//  http://chir.ag/projects/name-that-color/
// -----------------------------------------------------------------------------

color_black                    = #000000
color_navy_blue                = #000080
color_dark_blue                = #0000C8
color_blue                     = #0000FF
color_stratos                  = #000741
color_swamp                    = #001B1C
color_resolution_blue          = #002387
color_deep_fir                 = #002900
color_burnham                  = #002E20
color_international_klein_blue = #002FA7
color_prussian_blue            = #003153
color_midnight_blue            = #003366
color_smalt                    = #003399
color_deep_teal                = #003532
color_cyprus                   = #003E40
color_kaitoke_green            = #004620
color_cobalt                   = #0047AB
color_crusoe                   = #004816
color_sherpa_blue              = #004950
color_endeavour                = #0056A7
color_camarone                 = #00581A
color_science_blue             = #0066CC
color_blue_ribbon              = #0066FF
color_tropical_rain_forest     = #00755E
color_allports                 = #0076A3
color_deep_cerulean            = #007BA7
color_lochmara                 = #007EC7
color_azure_radiance           = #007FFF
color_teal                     = #008080
color_bondi_blue               = #0095B6
color_pacific_blue             = #009DC4
color_persian_green            = #00A693
color_jade                     = #00A86B
color_caribbean_green          = #00CC99
color_robins_egg_blue          = #00CCCC
color_green                    = #00FF00
color_spring_green             = #00FF7F
color_cyan_or_aqua             = #00FFFF
color_blue_charcoal            = #010D1A
color_midnight                 = #011635
color_holly                    = #011D13
color_daintree                 = #012731
color_cardin_green             = #01361C
color_county_green             = #01371A
color_astronaut_blue           = #013E62
color_regal_blue               = #013F6A
color_aqua_deep                = #014B43
color_orient                   = #015E85
color_blue_stone               = #016162
color_fun_green                = #016D39
color_pine_green               = #01796F
color_blue_lagoon              = #017987
color_deep_sea                 = #01826B
color_green_haze               = #01A368
color_english_holly            = #022D15
color_sherwood_green           = #02402C
color_congress_blue            = #02478E
color_evening_sea              = #024E46
color_bahama_blue              = #026395
color_observatory              = #02866F
color_cerulean                 = #02A4D3
color_tangaroa                 = #03163C
color_green_vogue              = #032B52
color_mosque                   = #036A6E
color_midnight_moss            = #041004
color_black_pearl              = #041322
color_blue_whale               = #042E4C
color_zuccini                  = #044022
color_teal_blue                = #044259
color_deep_cove                = #051040
color_gulf_blue                = #051657
color_venice_blue              = #055989
color_watercourse              = #056F57
color_catalina_blue            = #062A78
color_tiber                    = #063537
color_gossamer                 = #069B81
color_niagara                  = #06A189
color_tarawera                 = #073A50
color_jaguar                   = #080110
color_black_bean               = #081910
color_deep_sapphire            = #082567
color_elf_green                = #088370
color_bright_turquoise         = #08E8DE
color_downriver                = #092256
color_palm_green               = #09230F
color_madison                  = #09255D
color_bottle_green             = #093624
color_deep_sea_green           = #095859
color_salem                    = #097F4B
color_black_russian            = #0A001C
color_dark_fern                = #0A480D
color_japanese_laurel          = #0A6906
color_atoll                    = #0A6F75
color_cod_gray                 = #0B0B0B
color_marshland                = #0B0F08
color_gordons_green            = #0B1107
color_black_forest             = #0B1304
color_san_felix                = #0B6207
color_malachite                = #0BDA51
color_ebony                    = #0C0B1D
color_woodsmoke                = #0C0D0F
color_racing_green             = #0C1911
color_surfie_green             = #0C7A79
color_blue_chill               = #0C8990
color_black_rock               = #0D0332
color_bunker                   = #0D1117
color_aztec                    = #0D1C19
color_bush                     = #0D2E1C
color_cinder                   = #0E0E18
color_firefly                  = #0E2A30
color_torea_bay                = #0F2D9E
color_vulcan                   = #10121D
color_green_waterloo           = #101405
color_eden                     = #105852
color_arapawa                  = #110C6C
color_ultramarine              = #120A8F
color_elephant                 = #123447
color_jewel                    = #126B40
color_diesel                   = #130000
color_asphalt                  = #130A06
color_blue_zodiac              = #13264D
color_parsley                  = #134F19
color_nero                     = #140600
color_tory_blue                = #1450AA
color_bunting                  = #151F4C
color_denim                    = #1560BD
color_genoa                    = #15736B
color_mirage                   = #161928
color_hunter_green             = #161D10
color_big_stone                = #162A40
color_celtic                   = #163222
color_timber_green             = #16322C
color_gable_green              = #163531
color_pine_tree                = #171F04
color_chathams_blue            = #175579
color_deep_forest_green        = #182D09
color_blumine                  = #18587A
color_palm_leaf                = #19330E
color_nile_blue                = #193751
color_fun_blue                 = #1959A8
color_lucky_point              = #1A1A68
color_mountain_meadow          = #1AB385
color_tolopea                  = #1B0245
color_haiti                    = #1B1035
color_deep_koamaru             = #1B127B
color_acadia                   = #1B1404
color_seaweed                  = #1B2F11
color_biscay                   = #1B3162
color_matisse                  = #1B659D
color_crowshead                = #1C1208
color_rangoon_green            = #1C1E13
color_persian_blue             = #1C39BB
color_everglade                = #1C402E
color_elm                      = #1C7C7D
color_green_pea                = #1D6142
color_creole                   = #1E0F04
color_karaka                   = #1E1609
color_el_paso                  = #1E1708
color_cello                    = #1E385B
color_te_papa_green            = #1E433C
color_dodger_blue              = #1E90FF
color_eastern_blue             = #1E9AB0
color_night_rider              = #1F120F
color_java                     = #1FC2C2
color_jacksons_purple          = #20208D
color_cloud_burst              = #202E54
color_blue_dianne              = #204852
color_eternity                 = #211A0E
color_deep_blue                = #220878
color_forest_green             = #228B22
color_mallard                  = #233418
color_violet                   = #240A40
color_kilamanjaro              = #240C02
color_log_cabin                = #242A1D
color_black_olive              = #242E16
color_green_house              = #24500F
color_graphite                 = #251607
color_cannon_black             = #251706
color_port_gore                = #251F4F
color_shark                    = #25272C
color_green_kelp               = #25311C
color_curious_blue             = #2596D1
color_paua                     = #260368
color_paris_m                  = #26056A
color_wood_bark                = #261105
color_gondola                  = #261414
color_steel_gray               = #262335
color_ebony_clay               = #26283B
color_bay_of_many              = #273A81
color_plantation               = #27504B
color_eucalyptus               = #278A5B
color_oil                      = #281E15
color_astronaut                = #283A77
color_mariner                  = #286ACD
color_violent_violet           = #290C5E
color_bastille                 = #292130
color_zeus                     = #292319
color_charade                  = #292937
color_jelly_bean               = #297B9A
color_jungle_green             = #29AB87
color_cherry_pie               = #2A0359
color_coffee_bean              = #2A140E
color_baltic_sea               = #2A2630
color_turtle_green             = #2A380B
color_cerulean_blue            = #2A52BE
color_sepia_black              = #2B0202
color_valhalla                 = #2B194F
color_heavy_metal              = #2B3228
color_blue_gem                 = #2C0E8C
color_revolver                 = #2C1632
color_bleached_cedar           = #2C2133
color_lochinvar                = #2C8C84
color_mikado                   = #2D2510
color_outer_space              = #2D383A
color_st_tropaz                = #2D569B
color_jacaranda                = #2E0329
color_jacko_bean               = #2E1905
color_rangitoto                = #2E3222
color_rhino                    = #2E3F62
color_sea_green                = #2E8B57
color_scooter                  = #2EBFD4
color_onion                    = #2F270E
color_governor_bay             = #2F3CB3
color_sapphire                 = #2F519E
color_spectra                  = #2F5A57
color_casal                    = #2F6168
color_melanzane                = #300529
color_cocoa_brown              = #301F1E
color_woodrush                 = #302A0F
color_san_juan                 = #304B6A
color_turquoise                = #30D5C8
color_eclipse                  = #311C17
color_pickled_bluewood         = #314459
color_azure                    = #315BA1
color_calypso                  = #31728D
color_paradiso                 = #317D82
color_persian_indigo           = #32127A
color_blackcurrant             = #32293A
color_mine_shaft               = #323232
color_stromboli                = #325D52
color_bilbao                   = #327C14
color_astral                   = #327DA0
color_christalle               = #33036B
color_thunder                  = #33292F
color_shamrock                 = #33CC99
color_tamarind                 = #341515
color_mardi_gras               = #350036
color_valentino                = #350E42
color_jagger                   = #350E57
color_tuna                     = #353542
color_chambray                 = #354E8C
color_martinique               = #363050
color_tuatara                  = #363534
color_waiouru                  = #363C0D
color_ming                     = #36747D
color_la_palma                 = #368716
color_chocolate                = #370202
color_clinker                  = #371D09
color_brown_tumbleweed         = #37290E
color_birch                    = #373021
color_oracle                   = #377475
color_blue_diamond             = #380474
color_grape                    = #381A51
color_dune                     = #383533
color_oxford_blue              = #384555
color_clover                   = #384910
color_limed_spruce             = #394851
color_dell                     = #396413
color_toledo                   = #3A0020
color_sambuca                  = #3A2010
color_jacarta                  = #3A2A6A
color_william                  = #3A686C
color_killarney                = #3A6A47
color_keppel                   = #3AB09E
color_temptress                = #3B000B
color_aubergine                = #3B0910
color_jon                      = #3B1F1F
color_treehouse                = #3B2820
color_amazon                   = #3B7A57
color_boston_blue              = #3B91B4
color_windsor                  = #3C0878
color_rebel                    = #3C1206
color_meteorite                = #3C1F76
color_dark_ebony               = #3C2005
color_camouflage               = #3C3910
color_bright_gray              = #3C4151
color_cape_cod                 = #3C4443
color_lunar_green              = #3C493A
color_bean                     = #3D0C02
color_bistre                   = #3D2B1F
color_goblin                   = #3D7D52
color_kingfisher_daisy         = #3E0480
color_cedar                    = #3E1C14
color_english_walnut           = #3E2B23
color_black_marlin             = #3E2C1C
color_ship_gray                = #3E3A44
color_pelorous                 = #3EABBF
color_bronze                   = #3F2109
color_cola                     = #3F2500
color_madras                   = #3F3002
color_minsk                    = #3F307F
color_cabbage_pont             = #3F4C3A
color_tom_thumb                = #3F583B
color_mineral_green            = #3F5D53
color_puerto_rico              = #3FC1AA
color_harlequin                = #3FFF00
color_brown_pod                = #401801
color_cork                     = #40291D
color_masala                   = #403B38
color_thatch_green             = #403D19
color_fiord                    = #405169
color_viridian                 = #40826D
color_chateau_green            = #40A860
color_ripe_plum                = #410056
color_paco                     = #411F10
color_deep_oak                 = #412010
color_merlin                   = #413C37
color_gun_powder               = #414257
color_east_bay                 = #414C7D
color_royal_blue               = #4169E1
color_ocean_green              = #41AA78
color_burnt_maroon             = #420303
color_lisbon_brown             = #423921
color_faded_jade               = #427977
color_scarlet_gum              = #431560
color_iroko                    = #433120
color_armadillo                = #433E37
color_river_bed                = #434C59
color_green_leaf               = #436A0D
color_barossa                  = #44012D
color_morocco_brown            = #441D00
color_mako                     = #444954
color_kelp                     = #454936
color_san_marino               = #456CAC
color_picton_blue              = #45B1E8
color_loulou                   = #460B41
color_crater_brown             = #462425
color_gray_asparagus           = #465945
color_steel_blue               = #4682B4
color_rustic_red               = #480404
color_bulgarian_rose           = #480607
color_clairvoyant              = #480656
color_cocoa_bean               = #481C1C
color_woody_brown              = #483131
color_taupe                    = #483C32
color_van_cleef                = #49170C
color_brown_derby              = #492615
color_metallic_bronze          = #49371B
color_verdun_green             = #495400
color_blue_bayoux              = #496679
color_bismark                  = #497183
color_bracken                  = #4A2A04
color_deep_bronze              = #4A3004
color_mondo                    = #4A3C30
color_tundora                  = #4A4244
color_gravel                   = #4A444B
color_trout                    = #4A4E5A
color_pigment_indigo           = #4B0082
color_nandor                   = #4B5D52
color_saddle                   = #4C3024
color_abbey                    = #4C4F56
color_blackberry               = #4D0135
color_cab_sav                  = #4D0A18
color_indian_tan               = #4D1E01
color_cowboy                   = #4D282D
color_livid_brown              = #4D282E
color_rock                     = #4D3833
color_punga                    = #4D3D14
color_bronzetone               = #4D400F
color_woodland                 = #4D5328
color_mahogany                 = #4E0606
color_bossanova                = #4E2A5A
color_matterhorn               = #4E3B41
color_bronze_olive             = #4E420C
color_mulled_wine              = #4E4562
color_axolotl                  = #4E6649
color_wedgewood                = #4E7F9E
color_shakespeare              = #4EABD1
color_honey_flower             = #4F1C70
color_daisy_bush               = #4F2398
color_indigo                   = #4F69C6
color_fern_green               = #4F7942
color_fruit_salad              = #4F9D5D
color_apple                    = #4FA83D
color_mortar                   = #504351
color_kashmir_blue             = #507096
color_cutty_sark               = #507672
color_emerald                  = #50C878
color_emperor                  = #514649
color_chalet_green             = #516E3D
color_como                     = #517C66
color_smalt_blue               = #51808F
color_castro                   = #52001F
color_maroon_oak               = #520C17
color_gigas                    = #523C94
color_voodoo                   = #533455
color_victoria                 = #534491
color_hippie_green             = #53824B
color_heath                    = #541012
color_judge_gray               = #544333
color_fuscous_gray             = #54534D
color_vida_loca                = #549019
color_cioccolato               = #55280C
color_saratoga                 = #555B10
color_finlandia                = #556D56
color_havelock_blue            = #5590D9
color_fountain_blue            = #56B4BE
color_spring_leaves            = #578363
color_saddle_brown             = #583401
color_scarpa_flow              = #585562
color_cactus                   = #587156
color_hippie_blue              = #589AAF
color_wine_berry               = #591D35
color_brown_bramble            = #592804
color_congo_brown              = #593737
color_millbrook                = #594433
color_waikawa_gray             = #5A6E9C
color_horizon                  = #5A87A0
color_jambalaya                = #5B3013
color_bordeaux                 = #5C0120
color_mulberry_wood            = #5C0536
color_carnaby_tan              = #5C2E01
color_comet                    = #5C5D75
color_redwood                  = #5D1E0F
color_don_juan                 = #5D4C51
color_chicago                  = #5D5C58
color_verdigris                = #5D5E37
color_dingley                  = #5D7747
color_breaker_bay              = #5DA19F
color_kabul                    = #5E483E
color_hemlock                  = #5E5D3B
color_irish_coffee             = #5F3D26
color_mid_gray                 = #5F5F6E
color_shuttle_gray             = #5F6672
color_aqua_forest              = #5FA777
color_tradewind                = #5FB3AC
color_horses_neck              = #604913
color_smoky                    = #605B73
color_corduroy                 = #606E68
color_danube                   = #6093D1
color_espresso                 = #612718
color_eggplant                 = #614051
color_costa_del_sol            = #615D30
color_glade_green              = #61845F
color_buccaneer                = #622F30
color_quincy                   = #623F2D
color_butterfly_bush           = #624E9A
color_west_coast               = #625119
color_finch                    = #626649
color_patina                   = #639A8F
color_fern                     = #63B76C
color_blue_violet              = #6456B7
color_dolphin                  = #646077
color_storm_dust               = #646463
color_siam                     = #646A54
color_nevada                   = #646E75
color_cornflower_blue          = #6495ED
color_viking                   = #64CCDB
color_rosewood                 = #65000B
color_cherrywood               = #651A14
color_purple_heart             = #652DC1
color_fern_frond               = #657220
color_willow_grove             = #65745D
color_hoki                     = #65869F
color_pompadour                = #660045
color_purple                   = #660099
color_tyrian_purple            = #66023C
color_dark_tan                 = #661010
color_silver_tree              = #66B58F
color_bright_green             = #66FF00
color_screamin_green           = #66FF66
color_black_rose               = #67032D
color_scampi                   = #675FA6
color_ironside_gray            = #676662
color_viridian_green           = #678975
color_christi                  = #67A712
color_nutmeg_wood_finish       = #683600
color_zambezi                  = #685558
color_salt_box                 = #685E6E
color_tawny_port               = #692545
color_finn                     = #692D54
color_scorpion                 = #695F62
color_lynch                    = #697E9A
color_spice                    = #6A442E
color_himalaya                 = #6A5D1B
color_soya_bean                = #6A6051
color_hairy_heath              = #6B2A14
color_royal_purple             = #6B3FA0
color_shingle_fawn             = #6B4E31
color_dorado                   = #6B5755
color_bermuda_gray             = #6B8BA2
color_olive_drab               = #6B8E23
color_eminence                 = #6C3082
color_turquoise_blue           = #6CDAE7
color_lonestar                 = #6D0101
color_pine_cone                = #6D5E54
color_dove_gray                = #6D6C6C
color_juniper                  = #6D9292
color_gothic                   = #6D92A1
color_red_oxide                = #6E0902
color_moccaccino               = #6E1D14
color_pickled_bean             = #6E4826
color_dallas                   = #6E4B26
color_kokoda                   = #6E6D57
color_pale_sky                 = #6E7783
color_cafe_royale              = #6F440C
color_flint                    = #6F6A61
color_highland                 = #6F8E63
color_limeade                  = #6F9D02
color_downy                    = #6FD0C5
color_persian_plum             = #701C1C
color_sepia                    = #704214
color_antique_bronze           = #704A07
color_ferra                    = #704F50
color_coffee                   = #706555
color_slate_gray               = #708090
color_cedar_wood_finish        = #711A00
color_metallic_copper          = #71291D
color_affair                   = #714693
color_studio                   = #714AB2
color_tobacco_brown            = #715D47
color_yellow_metal             = #716338
color_peat                     = #716B56
color_olivetone                = #716E10
color_storm_gray               = #717486
color_sirocco                  = #718080
color_aquamarine_blue          = #71D9E2
color_venetian_red             = #72010F
color_old_copper               = #724A2F
color_go_ben                   = #726D4E
color_raven                    = #727B89
color_seance                   = #731E8F
color_raw_umber                = #734A12
color_kimberly                 = #736C9F
color_crocodile                = #736D58
color_crete                    = #737829
color_xanadu                   = #738678
color_spicy_mustard            = #74640D
color_limed_ash                = #747D63
color_rolling_stone            = #747D83
color_blue_smoke               = #748881
color_laurel                   = #749378
color_mantis                   = #74C365
color_russett                  = #755A57
color_deluge                   = #7563A8
color_cosmic                   = #76395D
color_blue_marguerite          = #7666C6
color_lima                     = #76BD17
color_sky_blue                 = #76D7EA
color_dark_burgundy            = #770F05
color_crown_of_thorns          = #771F1F
color_walnut                   = #773F1A
color_pablo                    = #776F61
color_pacifika                 = #778120
color_oxley                    = #779E86
color_pastel_green             = #77DD77
color_japanese_maple           = #780109
color_mocha                    = #782D19
color_peanut                   = #782F16
color_camouflage_green         = #78866B
color_wasabi                   = #788A25
color_ship_cove                = #788BBA
color_sea_nymph                = #78A39C
color_roman_coffee             = #795D4C
color_old_lavender             = #796878
color_rum                      = #796989
color_fedora                   = #796A78
color_sandstone                = #796D62
color_spray                    = #79DEEC
color_siren                    = #7A013A
color_fuchsia_blue             = #7A58C1
color_boulder                  = #7A7A7A
color_wild_blue_yonder         = #7A89B8
color_de_york                  = #7AC488
color_red_beech                = #7B3801
color_cinnamon                 = #7B3F00
color_yukon_gold               = #7B6608
color_tapa                     = #7B7874
color_waterloo                 = #7B7C94
color_flax_smoke               = #7B8265
color_amulet                   = #7B9F80
color_asparagus                = #7BA05B
color_kenyan_copper            = #7C1C05
color_pesto                    = #7C7631
color_topaz                    = #7C778A
color_concord                  = #7C7B7A
color_jumbo                    = #7C7B82
color_trendy_green             = #7C881A
color_gumbo                    = #7CA1A6
color_acapulco                 = #7CB0A1
color_neptune                  = #7CB7BB
color_pueblo                   = #7D2C14
color_bay_leaf                 = #7DA98D
color_malibu                   = #7DC8F7
color_bermuda                  = #7DD8C6
color_copper_canyon            = #7E3A15
color_claret                   = #7F1734
color_peru_tan                 = #7F3A02
color_falcon                   = #7F626D
color_mobster                  = #7F7589
color_moody_blue               = #7F76D3
color_chartreuse               = #7FFF00
color_aquamarine               = #7FFFD4
color_maroon                   = #800000
color_rose_bud_cherry          = #800B47
color_falu_red                 = #801818
color_red_robin                = #80341F
color_vivid_violet             = #803790
color_russet                   = #80461B
color_friar_gray               = #807E79
color_olive                    = #808000
color_gray                     = #808080
color_gulf_stream              = #80B3AE
color_glacier                  = #80B3C4
color_seagull                  = #80CCEA
color_nutmeg                   = #81422C
color_spicy_pink               = #816E71
color_empress                  = #817377
color_spanish_green            = #819885
color_sand_dune                = #826F65
color_gunsmoke                 = #828685
color_battleship_gray          = #828F72
color_merlot                   = #831923
color_shadow                   = #837050
color_chelsea_cucumber         = #83AA5D
color_monte_carlo              = #83D0C6
color_plum                     = #843179
color_granny_smith             = #84A0A0
color_chetwode_blue            = #8581D9
color_bandicoot                = #858470
color_bali_hai                 = #859FAF
color_half_baked               = #85C4CC
color_red_devil                = #860111
color_lotus                    = #863C3C
color_ironstone                = #86483C
color_bull_shot                = #864D1E
color_rusty_nail               = #86560A
color_bitter                   = #868974
color_regent_gray              = #86949F
color_disco                    = #871550
color_americano                = #87756E
color_hurricane                = #877C7B
color_oslo_gray                = #878D91
color_sushi                    = #87AB39
color_spicy_mix                = #885342
color_kumera                   = #886221
color_suva_gray                = #888387
color_avocado                  = #888D65
color_camelot                  = #893456
color_solid_pink               = #893843
color_cannon_pink              = #894367
color_makara                   = #897D6D
color_burnt_umber              = #8A3324
color_true_v                   = #8A73D6
color_clay_creek               = #8A8360
color_monsoon                  = #8A8389
color_stack                    = #8A8F8A
color_jordy_blue               = #8AB9F1
color_electric_violet          = #8B00FF
color_monarch                  = #8B0723
color_corn_harvest             = #8B6B0B
color_olive_haze               = #8B8470
color_schooner                 = #8B847E
color_natural_gray             = #8B8680
color_mantle                   = #8B9C90
color_portage                  = #8B9FEE
color_envy                     = #8BA690
color_cascade                  = #8BA9A5
color_riptide                  = #8BE6D8
color_cardinal_pink            = #8C055E
color_mule_fawn                = #8C472F
color_potters_clay             = #8C5738
color_trendy_pink              = #8C6495
color_paprika                  = #8D0226
color_sanguine_brown           = #8D3D38
color_tosca                    = #8D3F3F
color_cement                   = #8D7662
color_granite_green            = #8D8974
color_manatee                  = #8D90A1
color_polo_blue                = #8DA8CC
color_red_berry                = #8E0000
color_rope                     = #8E4D1E
color_opium                    = #8E6F70
color_domino                   = #8E775E
color_mamba                    = #8E8190
color_nepal                    = #8EABC1
color_pohutukawa               = #8F021C
color_el_salva                 = #8F3E33
color_korma                    = #8F4B0E
color_squirrel                 = #8F8176
color_vista_blue               = #8FD6B4
color_burgundy                 = #900020
color_old_brick                = #901E1E
color_hemp                     = #907874
color_almond_frost             = #907B71
color_sycamore                 = #908D39
color_sangria                  = #92000A
color_cumin                    = #924321
color_beaver                   = #926F5B
color_stonewall                = #928573
color_venus                    = #928590
color_medium_purple            = #9370DB
color_cornflower               = #93CCEA
color_algae_green              = #93DFB8
color_copper_rust              = #944747
color_arrowtown                = #948771
color_scarlett                 = #950015
color_strikemaster             = #956387
color_mountain_mist            = #959396
color_carmine                  = #960018
color_brown                    = #964B00
color_leather                  = #967059
color_purple_mountains_majesty = #9678B6
color_lavender_purple          = #967BB6
color_pewter                   = #96A8A1
color_summer_green             = #96BBAB
color_au_chico                 = #97605D
color_wisteria                 = #9771B5
color_atlantis                 = #97CD2D
color_vin_rouge                = #983D61
color_lilac_bush               = #9874D3
color_bazaar                   = #98777B
color_hacienda                 = #98811B
color_pale_oyster              = #988D77
color_mint_green               = #98FF98
color_fresh_eggplant           = #990066
color_violet_eggplant          = #991199
color_tamarillo                = #991613
color_totem_pole               = #991B07
color_copper_rose              = #996666
color_amethyst                 = #9966CC
color_mountbatten_pink         = #997A8D
color_blue_bell                = #9999CC
color_prairie_sand             = #9A3820
color_toast                    = #9A6E61
color_gurkha                   = #9A9577
color_olivine                  = #9AB973
color_shadow_green             = #9AC2B8
color_oregon                   = #9B4703
color_lemon_grass              = #9B9E8F
color_stiletto                 = #9C3336
color_hawaiian_tan             = #9D5616
color_gull_gray                = #9DACB7
color_pistachio                = #9DC209
color_granny_smith_apple       = #9DE093
color_anakiwa                  = #9DE5FF
color_chelsea_gem              = #9E5302
color_sepia_skin               = #9E5B40
color_sage                     = #9EA587
color_citron                   = #9EA91F
color_rock_blue                = #9EB1CD
color_morning_glory            = #9EDEE0
color_cognac                   = #9F381D
color_reef_gold                = #9F821C
color_star_dust                = #9F9F9C
color_santas_gray              = #9FA0B1
color_sinbad                   = #9FD7D3
color_feijoa                   = #9FDD8C
color_tabasco                  = #A02712
color_buttered_rum             = #A1750D
color_hit_gray                 = #A1ADB5
color_citrus                   = #A1C50A
color_aqua_island              = #A1DAD7
color_water_leaf               = #A1E9DE
color_flirt                    = #A2006D
color_rouge                    = #A23B6C
color_cape_palliser            = #A26645
color_gray_chateau             = #A2AAB3
color_edward                   = #A2AEAB
color_pharlap                  = #A3807B
color_amethyst_smoke           = #A397B4
color_blizzard_blue            = #A3E3ED
color_delta                    = #A4A49D
color_wistful                  = #A4A6D3
color_green_smoke              = #A4AF6E
color_jazzberry_jam            = #A50B5E
color_zorba                    = #A59B91
color_bahia                    = #A5CB0C
color_roof_terracotta          = #A62F20
color_paarl                    = #A65529
color_barley_corn              = #A68B5B
color_donkey_brown             = #A69279
color_dawn                     = #A6A29A
color_mexican_red              = #A72525
color_luxor_gold               = #A7882C
color_rich_gold                = #A85307
color_reno_sand                = #A86515
color_coral_tree               = #A86B6B
color_dusty_gray               = #A8989B
color_dull_lavender            = #A899E6
color_tallow                   = #A8A589
color_bud                      = #A8AE9C
color_locust                   = #A8AF8E
color_norway                   = #A8BD9F
color_chinook                  = #A8E3BD
color_gray_olive               = #A9A491
color_aluminium                = #A9ACB6
color_cadet_blue               = #A9B2C3
color_schist                   = #A9B497
color_tower_gray               = #A9BDBF
color_perano                   = #A9BEF2
color_opal                     = #A9C6C2
color_night_shadz              = #AA375A
color_fire                     = #AA4203
color_muesli                   = #AA8B5B
color_sandal                   = #AA8D6F
color_shady_lady               = #AAA5A9
color_logan                    = #AAA9CD
color_spun_pearl               = #AAABB7
color_regent_st_blue           = #AAD6E6
color_magic_mint               = #AAF0D1
color_lipstick                 = #AB0563
color_royal_heath              = #AB3472
color_sandrift                 = #AB917A
color_cold_purple              = #ABA0D9
color_bronco                   = #ABA196
color_limed_oak                = #AC8A56
color_east_side                = #AC91CE
color_lemon_ginger             = #AC9E22
color_napa                     = #ACA494
color_hillary                  = #ACA586
color_cloudy                   = #ACA59F
color_silver_chalice           = #ACACAC
color_swamp_green              = #ACB78E
color_spring_rain              = #ACCBB1
color_conifer                  = #ACDD4D
color_celadon                  = #ACE1AF
color_mandalay                 = #AD781B
color_casper                   = #ADBED1
color_moss_green               = #ADDFAD
color_padua                    = #ADE6C4
color_green_yellow             = #ADFF2F
color_hippie_pink              = #AE4560
color_desert                   = #AE6020
color_bouquet                  = #AE809E
color_medium_carmine           = #AF4035
color_apple_blossom            = #AF4D43
color_brown_rust               = #AF593E
color_driftwood                = #AF8751
color_alpine                   = #AF8F2C
color_lucky                    = #AF9F1C
color_martini                  = #AFA09E
color_bombay                   = #AFB1B8
color_pigeon_post              = #AFBDD9
color_cadillac                 = #B04C6A
color_matrix                   = #B05D54
color_tapestry                 = #B05E81
color_mai_tai                  = #B06608
color_del_rio                  = #B09A95
color_powder_blue              = #B0E0E6
color_inch_worm                = #B0E313
color_bright_red               = #B10000
color_vesuvius                 = #B14A0B
color_pumpkin_skin             = #B1610B
color_santa_fe                 = #B16D52
color_teak                     = #B19461
color_fringy_flower            = #B1E2C1
color_ice_cold                 = #B1F4E7
color_shiraz                   = #B20931
color_biloba_flower            = #B2A1EA
color_tall_poppy               = #B32D29
color_fiery_orange             = #B35213
color_hot_toddy                = #B38007
color_taupe_gray               = #B3AF95
color_la_rioja                 = #B3C110
color_well_read                = #B43332
color_blush                    = #B44668
color_jungle_mist              = #B4CFD3
color_turkish_rose             = #B57281
color_lavender                 = #B57EDC
color_mongoose                 = #B5A27F
color_olive_green              = #B5B35C
color_jet_stream               = #B5D2CE
color_cruise                   = #B5ECDF
color_hibiscus                 = #B6316C
color_thatch                   = #B69D98
color_heathered_gray           = #B6B095
color_eagle                    = #B6BAA4
color_spindle                  = #B6D1EA
color_gum_leaf                 = #B6D3BF
color_rust                     = #B7410E
color_muddy_waters             = #B78E5C
color_sahara                   = #B7A214
color_husk                     = #B7A458
color_nobel                    = #B7B1B1
color_heather                  = #B7C3D0
color_madang                   = #B7F0BE
color_milano_red               = #B81104
color_copper                   = #B87333
color_gimblet                  = #B8B56A
color_green_spring             = #B8C1B1
color_celery                   = #B8C25D
color_sail                     = #B8E0F9
color_chestnut                 = #B94E48
color_crail                    = #B95140
color_marigold                 = #B98D28
color_wild_willow              = #B9C46A
color_rainee                   = #B9C8AC
color_guardsman_red            = #BA0101
color_rock_spray               = #BA450C
color_bourbon                  = #BA6F1E
color_pirate_gold              = #BA7F03
color_nomad                    = #BAB1A2
color_submarine                = #BAC7C9
color_charlotte                = #BAEEF9
color_medium_red_violet        = #BB3385
color_brandy_rose              = #BB8983
color_rio_grande               = #BBD009
color_surf                     = #BBD7C1
color_powder_ash               = #BCC9C2
color_tuscany                  = #BD5E2E
color_quicksand                = #BD978E
color_silk                     = #BDB1A8
color_malta                    = #BDB2A1
color_chatelle                 = #BDB3C7
color_lavender_gray            = #BDBBD7
color_french_gray              = #BDBDC6
color_clay_ash                 = #BDC8B3
color_loblolly                 = #BDC9CE
color_french_pass              = #BDEDFD
color_london_hue               = #BEA6C3
color_pink_swan                = #BEB5B7
color_fuego                    = #BEDE0D
color_rose_of_sharon           = #BF5500
color_tide                     = #BFB8B0
color_blue_haze                = #BFBED8
color_silver_sand              = #BFC1C2
color_key_lime_pie             = #BFC921
color_ziggurat                 = #BFDBE2
color_lime                     = #BFFF00
color_thunderbird              = #C02B18
color_mojo                     = #C04737
color_old_rose                 = #C08081
color_silver                   = #C0C0C0
color_pale_leaf                = #C0D3B9
color_pixie_green              = #C0D8B6
color_tia_maria                = #C1440E
color_fuchsia_pink             = #C154C1
color_buddha_gold              = #C1A004
color_bison_hide               = #C1B7A4
color_tea                      = #C1BAB0
color_gray_suit                = #C1BECD
color_sprout                   = #C1D7B0
color_sulu                     = #C1F07C
color_indochine                = #C26B03
color_twine                    = #C2955D
color_cotton_seed              = #C2BDB6
color_pumice                   = #C2CAC4
color_jagged_ice               = #C2E8E5
color_maroon_flush             = #C32148
color_indian_khaki             = #C3B091
color_pale_slate               = #C3BFC1
color_gray_nickel              = #C3C3BD
color_periwinkle_gray          = #C3CDE6
color_tiara                    = #C3D1D1
color_tropical_blue            = #C3DDF9
color_cardinal                 = #C41E3A
color_fuzzy_wuzzy_brown        = #C45655
color_orange_roughy            = #C45719
color_mist_gray                = #C4C4BC
color_coriander                = #C4D0B0
color_mint_tulip               = #C4F4EB
color_mulberry                 = #C54B8C
color_nugget                   = #C59922
color_tussock                  = #C5994B
color_sea_mist                 = #C5DBCA
color_yellow_green             = #C5E17A
color_brick_red                = #C62D42
color_contessa                 = #C6726B
color_oriental_pink            = #C69191
color_roti                     = #C6A84B
color_ash                      = #C6C3B5
color_kangaroo                 = #C6C8BD
color_las_palmas               = #C6E610
color_monza                    = #C7031E
color_red_violet               = #C71585
color_coral_reef               = #C7BCA2
color_melrose                  = #C7C1FF
color_cloud                    = #C7C4BF
color_ghost                    = #C7C9D5
color_pine_glade               = #C7CD90
color_botticelli               = #C7DDE5
color_antique_brass            = #C88A65
color_lilac                    = #C8A2C8
color_hokey_pokey              = #C8A528
color_lily                     = #C8AABF
color_laser                    = #C8B568
color_edgewater                = #C8E3D7
color_piper                    = #C96323
color_pizza                    = #C99415
color_light_wisteria           = #C9A0DC
color_rodeo_dust               = #C9B29B
color_sundance                 = #C9B35B
color_earls_green              = #C9B93B
color_silver_rust              = #C9C0BB
color_conch                    = #C9D9D2
color_reef                     = #C9FFA2
color_aero_blue                = #C9FFE5
color_flush_mahogany           = #CA3435
color_turmeric                 = #CABB48
color_paris_white              = #CADCD4
color_bitter_lemon             = #CAE00D
color_skeptic                  = #CAE6DA
color_viola                    = #CB8FA9
color_foggy_gray               = #CBCAB6
color_green_mist               = #CBD3B0
color_nebula                   = #CBDBD6
color_persian_red              = #CC3333
color_burnt_orange             = #CC5500
color_ochre                    = #CC7722
color_puce                     = #CC8899
color_thistle_green            = #CCCAA8
color_periwinkle               = #CCCCFF
color_electric_lime            = #CCFF00
color_tenn                     = #CD5700
color_chestnut_rose            = #CD5C5C
color_brandy_punch             = #CD8429
color_onahau                   = #CDF4FF
color_sorrell_brown            = #CEB98F
color_cold_turkey              = #CEBABA
color_yuma                     = #CEC291
color_chino                    = #CEC7A7
color_eunry                    = #CFA39D
color_old_gold                 = #CFB53B
color_tasman                   = #CFDCCF
color_surf_crest               = #CFE5D2
color_humming_bird             = #CFF9F3
color_scandal                  = #CFFAF4
color_red_stage                = #D05F04
color_hopbush                  = #D06DA1
color_meteor                   = #D07D12
color_perfume                  = #D0BEF8
color_prelude                  = #D0C0E5
color_tea_green                = #D0F0C0
color_geebung                  = #D18F1B
color_vanilla                  = #D1BEA8
color_soft_amber               = #D1C6B4
color_celeste                  = #D1D2CA
color_mischka                  = #D1D2DD
color_pear                     = #D1E231
color_hot_cinnamon             = #D2691E
color_raw_sienna               = #D27D46
color_careys_pink              = #D29EAA
color_tan                      = #D2B48C
color_deco                     = #D2DA97
color_blue_romance             = #D2F6DE
color_gossip                   = #D2F8B0
color_sisal                    = #D3CBBA
color_swirl                    = #D3CDC5
color_charm                    = #D47494
color_clam_shell               = #D4B6AF
color_straw                    = #D4BF8D
color_akaroa                   = #D4C4A8
color_bird_flower              = #D4CD16
color_iron                     = #D4D7D9
color_geyser                   = #D4DFE2
color_hawkes_blue              = #D4E2FC
color_grenadier                = #D54600
color_can_can                  = #D591A4
color_whiskey                  = #D59A6F
color_winter_hazel             = #D5D195
color_granny_apple             = #D5F6E3
color_my_pink                  = #D69188
color_tacha                    = #D6C562
color_moon_raker               = #D6CEF6
color_quill_gray               = #D6D6D1
color_snowy_mint               = #D6FFDB
color_new_york_pink            = #D7837F
color_pavlova                  = #D7C498
color_fog                      = #D7D0FF
color_valencia                 = #D84437
color_japonica                 = #D87C63
color_thistle                  = #D8BFD8
color_maverick                 = #D8C2D5
color_foam                     = #D8FCFA
color_cabaret                  = #D94972
color_burning_sand             = #D99376
color_cameo                    = #D9B99B
color_timberwolf               = #D9D6CF
color_tana                     = #D9DCC1
color_link_water               = #D9E4F5
color_mabel                    = #D9F7FF
color_cerise                   = #DA3287
color_flame_pea                = #DA5B38
color_bamboo                   = #DA6304
color_red_damask               = #DA6A41
color_orchid                   = #DA70D6
color_copperfield              = #DA8A67
color_golden_grass             = #DAA520
color_zanah                    = #DAECD6
color_iceberg                  = #DAF4F0
color_oyster_bay               = #DAFAFF
color_cranberry                = #DB5079
color_petite_orchid            = #DB9690
color_di_serria                = #DB995E
color_alto                     = #DBDBDB
color_frosted_mint             = #DBFFF8
color_crimson                  = #DC143C
color_punch                    = #DC4333
color_galliano                 = #DCB20C
color_blossom                  = #DCB4BC
color_wattle                   = #DCD747
color_westar                   = #DCD9D2
color_moon_mist                = #DCDDCC
color_caper                    = #DCEDB4
color_swans_down               = #DCF0EA
color_swiss_coffee             = #DDD6D5
color_white_ice                = #DDF9F1
color_cerise_red               = #DE3163
color_roman                    = #DE6360
color_tumbleweed               = #DEA681
color_gold_tips                = #DEBA13
color_brandy                   = #DEC196
color_wafer                    = #DECBC6
color_sapling                  = #DED4A4
color_barberry                 = #DED717
color_beryl_green              = #DEE5C0
color_pattens_blue             = #DEF5FF
color_heliotrope               = #DF73FF
color_apache                   = #DFBE6F
color_chenin                   = #DFCD6F
color_lola                     = #DFCFDB
color_willow_brook             = #DFECDA
color_chartreuse_yellow        = #DFFF00
color_mauve                    = #E0B0FF
color_anzac                    = #E0B646
color_harvest_gold             = #E0B974
color_calico                   = #E0C095
color_baby_blue                = #E0FFFF
color_sunglo                   = #E16865
color_equator                  = #E1BC64
color_pink_flare               = #E1C0C8
color_periglacial_blue         = #E1E6D6
color_kidnapper                = #E1EAD4
color_tara                     = #E1F6E8
color_mandy                    = #E25465
color_terracotta               = #E2725B
color_golden_bell              = #E28913
color_shocking                 = #E292C0
color_dixie                    = #E29418
color_light_orchid             = #E29CD2
color_snuff                    = #E2D8ED
color_mystic                   = #E2EBED
color_apple_green              = #E2F3EC
color_razzmatazz               = #E30B5C
color_alizarin_crimson         = #E32636
color_cinnabar                 = #E34234
color_cavern_pink              = #E3BEBE
color_peppermint               = #E3F5E1
color_mindaro                  = #E3F988
color_deep_blush               = #E47698
color_gamboge                  = #E49B0F
color_melanie                  = #E4C2D5
color_twilight                 = #E4CFDE
color_bone                     = #E4D1C0
color_sunflower                = #E4D422
color_grain_brown              = #E4D5B7
color_zombie                   = #E4D69B
color_frostee                  = #E4F6E7
color_snow_flurry              = #E4FFD1
color_amaranth                 = #E52B50
color_zest                     = #E5841B
color_dust_storm               = #E5CCC9
color_stark_white              = #E5D7BD
color_hampton                  = #E5D8AF
color_bon_jour                 = #E5E0E1
color_mercury                  = #E5E5E5
color_polar                    = #E5F9F6
color_trinidad                 = #E64E03
color_gold_sand                = #E6BE8A
color_cashmere                 = #E6BEA5
color_double_spanish_white     = #E6D7B9
color_satin_linen              = #E6E4D4
color_harp                     = #E6F2EA
color_off_green                = #E6F8F3
color_hint_of_green            = #E6FFE9
color_tranquil                 = #E6FFFF
color_mango_tango              = #E77200
color_christine                = #E7730A
color_tonys_pink               = #E79F8C
color_kobi                     = #E79FC4
color_rose_fog                 = #E7BCB4
color_corn                     = #E7BF05
color_putty                    = #E7CD8C
color_gray_nurse               = #E7ECE6
color_lily_white               = #E7F8FF
color_bubbles                  = #E7FEFF
color_fire_bush                = #E89928
color_shilo                    = #E8B9B3
color_pearl_bush               = #E8E0D5
color_green_white              = #E8EBE0
color_chrome_white             = #E8F1D4
color_gin                      = #E8F2EB
color_aqua_squeeze             = #E8F5F2
color_clementine               = #E96E00
color_burnt_sienna             = #E97451
color_tahiti_gold              = #E97C07
color_oyster_pink              = #E9CECD
color_confetti                 = #E9D75A
color_ebb                      = #E9E3E3
color_ottoman                  = #E9F8ED
color_clear_day                = #E9FFFD
color_carissma                 = #EA88A8
color_porsche                  = #EAAE69
color_tulip_tree               = #EAB33B
color_rob_roy                  = #EAC674
color_raffia                   = #EADAB8
color_white_rock               = #EAE8D4
color_panache                  = #EAF6EE
color_solitude                 = #EAF6FF
color_aqua_spring              = #EAF9F5
color_dew                      = #EAFFFE
color_apricot                  = #EB9373
color_zinnwaldite              = #EBC2AF
color_fuel_yellow              = #ECA927
color_ronchi                   = #ECC54E
color_french_lilac             = #ECC7EE
color_just_right               = #ECCDB9
color_wild_rice                = #ECE090
color_fall_green               = #ECEBBD
color_aths_special             = #ECEBCE
color_starship                 = #ECF245
color_red_ribbon               = #ED0A3F
color_tango                    = #ED7A1C
color_carrot_orange            = #ED9121
color_sea_pink                 = #ED989E
color_tacao                    = #EDB381
color_desert_sand              = #EDC9AF
color_pancho                   = #EDCDAB
color_chamois                  = #EDDCB1
color_primrose                 = #EDEA99
color_frost                    = #EDF5DD
color_aqua_haze                = #EDF5F5
color_zumthor                  = #EDF6FF
color_narvik                   = #EDF9F1
color_honeysuckle              = #EDFC84
color_lavender_magenta         = #EE82EE
color_beauty_bush              = #EEC1BE
color_chalky                   = #EED794
color_almond                   = #EED9C4
color_flax                     = #EEDC82
color_bizarre                  = #EEDEDA
color_double_colonial_white    = #EEE3AD
color_cararra                  = #EEEEE8
color_manz                     = #EEEF78
color_tahuna_sands             = #EEF0C8
color_athens_gray              = #EEF0F3
color_tusk                     = #EEF3C3
color_loafer                   = #EEF4DE
color_catskill_white           = #EEF6F7
color_twilight_blue            = #EEFDFF
color_jonquil                  = #EEFF9A
color_rice_flower              = #EEFFE2
color_jaffa                    = #EF863F
color_gallery                  = #EFEFEF
color_porcelain                = #EFF2F3
color_mauvelous                = #F091A9
color_golden_dream             = #F0D52D
color_golden_sand              = #F0DB7D
color_buff                     = #F0DC82
color_prim                     = #F0E2EC
color_khaki                    = #F0E68C
color_selago                   = #F0EEFD
color_titan_white              = #F0EEFF
color_alice_blue               = #F0F8FF
color_feta                     = #F0FCEA
color_gold_drop                = #F18200
color_wewak                    = #F19BAB
color_sahara_sand              = #F1E788
color_parchment                = #F1E9D2
color_blue_chalk               = #F1E9FF
color_mint_julep               = #F1EEC1
color_seashell                 = #F1F1F1
color_saltpan                  = #F1F7F2
color_tidal                    = #F1FFAD
color_chiffon                  = #F1FFC8
color_flamingo                 = #F2552A
color_tangerine                = #F28500
color_mandys_pink              = #F2C3B2
color_concrete                 = #F2F2F2
color_black_squeeze            = #F2FAFA
color_pomegranate              = #F34723
color_buttercup                = #F3AD16
color_new_orleans              = #F3D69D
color_vanilla_ice              = #F3D9DF
color_sidecar                  = #F3E7BB
color_dawn_pink                = #F3E9E5
color_wheatfield               = #F3EDCF
color_canary                   = #F3FB62
color_orinoco                  = #F3FBD4
color_carla                    = #F3FFD8
color_hollywood_cerise         = #F400A1
color_sandy_brown              = #F4A460
color_saffron                  = #F4C430
color_ripe_lemon               = #F4D81C
color_janna                    = #F4EBD3
color_pampas                   = #F4F2EE
color_wild_sand                = #F4F4F4
color_zircon                   = #F4F8FF
color_froly                    = #F57584
color_cream_can                = #F5C85C
color_manhattan                = #F5C999
color_maize                    = #F5D5A0
color_wheat                    = #F5DEB3
color_sandwisp                 = #F5E7A2
color_pot_pourri               = #F5E7E2
color_albescent_white          = #F5E9D3
color_soft_peach               = #F5EDEF
color_ecru_white               = #F5F3E5
color_beige                    = #F5F5DC
color_golden_fizz              = #F5FB3D
color_australian_mint          = #F5FFBE
color_french_rose              = #F64A8A
color_brilliant_rose           = #F653A6
color_illusion                 = #F6A4C9
color_merino                   = #F6F0E6
color_black_haze               = #F6F7F7
color_spring_sun               = #F6FFDC
color_violet_red               = #F7468A
color_chilean_fire             = #F77703
color_persian_pink             = #F77FBE
color_rajah                    = #F7B668
color_azalea                   = #F7C8DA
color_we_peep                  = #F7DBE6
color_quarter_spanish_white    = #F7F2E1
color_whisper                  = #F7F5FA
color_snow_drift               = #F7FAF7
color_casablanca               = #F8B853
color_chantilly                = #F8C3DF
color_cherub                   = #F8D9E9
color_marzipan                 = #F8DB9D
color_energy_yellow            = #F8DD5C
color_givry                    = #F8E4BF
color_white_linen              = #F8F0E8
color_magnolia                 = #F8F4FF
color_spring_wood              = #F8F6F1
color_coconut_cream            = #F8F7DC
color_white_lilac              = #F8F7FC
color_desert_storm             = #F8F8F7
color_texas                    = #F8F99C
color_corn_field               = #F8FACD
color_mimosa                   = #F8FDD3
color_carnation                = #F95A61
color_saffron_mango            = #F9BF58
color_carousel_pink            = #F9E0ED
color_dairy_cream              = #F9E4BC
color_portica                  = #F9E663
color_underage_pink            = #F9E6F4
color_amour                    = #F9EAF3
color_rum_swizzle              = #F9F8E4
color_dolly                    = #F9FF8B
color_sugar_cane               = #F9FFF6
color_ecstasy                  = #FA7814
color_tan_hide                 = #FA9D5A
color_corvette                 = #FAD3A2
color_peach_yellow             = #FADFAD
color_turbo                    = #FAE600
color_astra                    = #FAEAB9
color_champagne                = #FAECCC
color_linen                    = #FAF0E6
color_fantasy                  = #FAF3F0
color_citrine_white            = #FAF7D6
color_alabaster                = #FAFAFA
color_hint_of_yellow           = #FAFDE4
color_milan                    = #FAFFA4
color_brink_pink               = #FB607F
color_geraldine                = #FB8989
color_lavender_rose            = #FBA0E3
color_sea_buckthorn            = #FBA129
color_sun                      = #FBAC13
color_lavender_pink            = #FBAED2
color_rose_bud                 = #FBB2A3
color_cupid                    = #FBBEDA
color_classic_rose             = #FBCCE7
color_apricot_peach            = #FBCEB1
color_banana_mania             = #FBE7B2
color_marigold_yellow          = #FBE870
color_festival                 = #FBE96C
color_sweet_corn               = #FBEA8C
color_candy_corn               = #FBEC5D
color_hint_of_red              = #FBF9F9
color_shalimar                 = #FBFFBA
color_shocking_pink            = #FC0FC0
color_tickle_me_pink           = #FC80A5
color_tree_poppy               = #FC9C1D
color_lightning_yellow         = #FCC01E
color_goldenrod                = #FCD667
color_candlelight              = #FCD917
color_cherokee                 = #FCDA98
color_double_pearl_lusta       = #FCF4D0
color_pearl_lusta              = #FCF4DC
color_vista_white              = #FCF8F7
color_bianca                   = #FCFBF3
color_moon_glow                = #FCFEDA
color_china_ivory              = #FCFFE7
color_ceramic                  = #FCFFF9
color_torch_red                = #FD0E35
color_wild_watermelon          = #FD5B78
color_crusta                   = #FD7B33
color_sorbus                   = #FD7C07
color_sweet_pink               = #FD9FA2
color_light_apricot            = #FDD5B1
color_pig_pink                 = #FDD7E4
color_cinderella               = #FDE1DC
color_golden_glow              = #FDE295
color_lemon                    = #FDE910
color_old_lace                 = #FDF5E6
color_half_colonial_white      = #FDF6D3
color_drover                   = #FDF7AD
color_pale_prim                = #FDFEB8
color_cumulus                  = #FDFFD5
color_persian_rose             = #FE28A2
color_sunset_orange            = #FE4C40
color_bittersweet              = #FE6F5E
color_california               = #FE9D04
color_yellow_sea               = #FEA904
color_melon                    = #FEBAAD
color_bright_sun               = #FED33C
color_dandelion                = #FED85D
color_salomie                  = #FEDB8D
color_cape_honey               = #FEE5AC
color_remy                     = #FEEBF3
color_oasis                    = #FEEFCE
color_bridesmaid               = #FEF0EC
color_beeswax                  = #FEF2C7
color_bleach_white             = #FEF3D8
color_pipi                     = #FEF4CC
color_half_spanish_white       = #FEF4DB
color_wisp_pink                = #FEF4F8
color_provincial_pink          = #FEF5F1
color_half_dutch_white         = #FEF7DE
color_solitaire                = #FEF8E2
color_white_pointer            = #FEF8FF
color_off_yellow               = #FEF9E3
color_orange_white             = #FEFCED
color_red                      = #FF0000
color_rose                     = #FF007F
color_purple_pizzazz           = #FF00CC
color_magenta_or_fuchsia       = #FF00FF
color_scarlet                  = #FF2400
color_wild_strawberry          = #FF3399
color_razzle_dazzle_rose       = #FF33CC
color_radical_red              = #FF355E
color_red_orange               = #FF3F34
color_coral_red                = #FF4040
color_vermilion                = #FF4D00
color_international_orange     = #FF4F00
color_outrageous_orange        = #FF6037
color_blaze_orange             = #FF6600
color_pink_flamingo            = #FF66FF
color_orange                   = #FF681F
color_hot_pink                 = #FF69B4
color_persimmon                = #FF6B53
color_blush_pink               = #FF6FFF
color_burning_orange           = #FF7034
color_pumpkin                  = #FF7518
color_flamenco                 = #FF7D07
color_flush_orange             = #FF7F00
color_coral                    = #FF7F50
color_salmon                   = #FF8C69
color_pizazz                   = #FF9000
color_west_side                = #FF910F
color_pink_salmon              = #FF91A4
color_neon_carrot              = #FF9933
color_atomic_tangerine         = #FF9966
color_vivid_tangerine          = #FF9980
color_sunshade                 = #FF9E2C
color_orange_peel              = #FFA000
color_mona_lisa                = #FFA194
color_web_orange               = #FFA500
color_carnation_pink           = #FFA6C9
color_hit_pink                 = #FFAB81
color_yellow_orange            = #FFAE42
color_cornflower_lilac         = #FFB0AC
color_sundown                  = #FFB1B3
color_my_sin                   = #FFB31F
color_texas_rose               = #FFB555
color_cotton_candy             = #FFB7D5
color_macaroni_and_cheese      = #FFB97B
color_selective_yellow         = #FFBA00
color_koromiko                 = #FFBD5F
color_amber                    = #FFBF00
color_wax_flower               = #FFC0A8
color_pink                     = #FFC0CB
color_your_pink                = #FFC3C0
color_supernova                = #FFC901
color_flesh                    = #FFCBA4
color_sunglow                  = #FFCC33
color_golden_tainoi            = #FFCC5C
color_peach_orange             = #FFCC99
color_chardonnay               = #FFCD8C
color_pastel_pink              = #FFD1DC
color_romantic                 = #FFD2B7
color_grandis                  = #FFD38C
color_gold                     = #FFD700
color_school_bus_yellow        = #FFD800
color_cosmos                   = #FFD8D9
color_mustard                  = #FFDB58
color_peach_schnapps           = #FFDCD6
color_caramel                  = #FFDDAF
color_tuft_bush                = #FFDDCD
color_watusi                   = #FFDDCF
color_pink_lace                = #FFDDF4
color_navajo_white             = #FFDEAD
color_frangipani               = #FFDEB3
color_pippin                   = #FFE1DF
color_pale_rose                = #FFE1F2
color_negroni                  = #FFE2C5
color_cream_brulee             = #FFE5A0
color_peach                    = #FFE5B4
color_tequila                  = #FFE6C7
color_kournikova               = #FFE772
color_sandy_beach              = #FFEAC8
color_karry                    = #FFEAD4
color_broom                    = #FFEC13
color_colonial_white           = #FFEDBC
color_derby                    = #FFEED8
color_vis_vis                  = #FFEFA1
color_egg_white                = #FFEFC1
color_papaya_whip              = #FFEFD5
color_fair_pink                = #FFEFEC
color_peach_cream              = #FFF0DB
color_lavender_blush           = #FFF0F5
color_gorse                    = #FFF14F
color_buttermilk               = #FFF1B5
color_pink_lady                = #FFF1D8
color_forget_me_not            = #FFF1EE
color_tutu                     = #FFF1F9
color_picasso                  = #FFF39D
color_chardon                  = #FFF3F1
color_paris_daisy              = #FFF46E
color_barley_white             = #FFF4CE
color_egg_sour                 = #FFF4DD
color_sazerac                  = #FFF4E0
color_serenade                 = #FFF4E8
color_chablis                  = #FFF4F3
color_seashell_peach           = #FFF5EE
color_sauvignon                = #FFF5F3
color_milk_punch               = #FFF6D4
color_varden                   = #FFF6DF
color_rose_white               = #FFF6F5
color_baja_white               = #FFF8D1
color_gin_fizz                 = #FFF9E2
color_early_dawn               = #FFF9E6
color_lemon_chiffon            = #FFFACD
color_bridal_heath             = #FFFAF4
color_scotch_mist              = #FFFBDC
color_soapstone                = #FFFBF9
color_witch_haze               = #FFFC99
color_buttery_white            = #FFFCEA
color_island_spice             = #FFFCEE
color_cream                    = #FFFDD0
color_chilean_heath            = #FFFDE6
color_travertine               = #FFFDE8
color_orchid_white             = #FFFDF3
color_quarter_pearl_lusta      = #FFFDF4
color_half_and_half            = #FFFEE1
color_apricot_white            = #FFFEEC
color_rice_cake                = #FFFEF0
color_black_white              = #FFFEF6
color_romance                  = #FFFEFD
color_yellow                   = #FFFF00
color_laser_lemon              = #FFFF66
color_pale_canary              = #FFFF99
color_portafino                = #FFFFB4
color_ivory                    = #FFFFF0
color_white                    = #FFFFFF
